:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #16181d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #00a67d;
}
a:hover {
  color: #00bc8d;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.react-just-logo {
  animation: spin 8s linear infinite;
  width: 140px;
  height: 140px;
  margin-top: 16px;
  margin-bottom: 32px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vite-section p {
  color: #999;
  font-size: 0.9rem;
}

.vite-logo {
  width: 30px;
  height: 30px;
}

.counters-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  max-width: 540px;
  margin-bottom: 24px;
}

@media (min-width: 600px) {
  .counters-container {
    grid-template-columns: 1fr 1fr;
  }
}

.counters-container p {
  font-size: 0.85rem;
  color: #999;
}
