:root {
  --vp-c-brand-1: #1ab680;
  --vp-c-brand-2: #1ab680;
  --vp-c-brand-3: #1ab680;
  --vp-c-brand-soft: #00bc8d;
  --vp-button-brand-bg: #00a67d;
  --vp-button-brand-hover-bg: #00bc8d;
}

.dark {
  --vp-c-brand-1: #00ffbf;
  --vp-c-brand-2: #00ffbf;
  --vp-c-brand-3: #00ffbf;
  --vp-c-brand-soft: #00bc8d;
  --vp-button-brand-bg: #00a67d;
  --vp-button-brand-hover-bg: #00bc8d;
  --vp-c-bg: #16181d;
  --vp-c-bg-alt: #111316;
  --vp-c-divider: #343a46;
  --vp-c-gutter: #343a46;
}
